body {
    margin: 0;
    background-color: #232323;
    font-family: "Montserrat", "Avenir";
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;

    border-radius: 30px;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0px;
}

#stripe {
    background: white;
    height: 30px;
    margin: 0px;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    align-items: center;
    text-align: center;
}

button {
    height: 30px;
    font-weight: bold;
    background-color:white;
    color: steelblue;
    cursor: pointer;
    border: none;
}

.selected {
    background-color: steelblue;
    color: white;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    color: steelblue;
}